@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    box-sizing: border-box;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 44px 0;
    font-size: 16px;
    z-index: 10;
    font-family: 'Lato', sans-serif;
    background-color: transparent;
    transition: all 0.4s cubic-bezier(0, 0, 0.6, 1);
}

.active {
    background-color: white;
    padding: 24px 0;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-bar {
    .slide-out-menu {
        position: fixed;
        display: block;
        width: 380px;
        max-width: 650px;
        height: 100%;
        left: -380px;
        top: 0;
        padding: 40px;
        z-index: 50;
        background-color: #26272d;
        transition: left 0.7s ease-in-out;

        .menu-close-btn {
            position: absolute;
            right: 20px;
            top: 52px;
            width: 15px;
            height: 15px;
            cursor: pointer;

            span {
                position: absolute;
                height: 2px;
                left: 0;
                right: 0;
                background-color: #fff;
                transition: 0.25s ease-in-out;

                &:nth-child(1) {
                    top: 50%;
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    top: 50%;
                    transform: rotate(-45deg);
                }
            }
        }
        
        .slide-out-logo {
            display: inline-block;
            padding-top: 11px;
        }

        ul {
            margin-top: 40px;
            margin-bottom: 10px;
            li {
                display: block;
                margin: 10px 0;
                padding: 0;

                &:last-child {
                    margin-top: 20px;
                }
            }

            a {
                color: white;

                &:hover {
                    color: #267df4;
                }

                &.btn:hover {
                    color: white;
                }
            }
        }
    }

    .open {
        left: 0;
    }

    .slide-out-menu-footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        display: block;
        padding: 20px 40px;

        p {
            color: rgba(255, 255, 255, 0.8);
            font-size: 14px;
            line-height: 1.5;

            a {
                text-decoration: underline;
                color: #267df4;
            }
        }

        .socials {
            display: grid;
            grid-template-columns: auto auto auto auto auto auto;
            grid-template-rows: auto;
            justify-content: start;
            gap: 20px;

            li:last-child {
                margin: 10px 0;
            }
        }
    }
}

.wrapper {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: 40px;
    align-items: center;
    justify-items: center;
}

.btn {
    font-size: 16px;
    font-weight: 400;
    padding: 9px 16px;
    border: 1px solid rgba(38, 39, 45, 0.1);
    border-radius: 30px;
    cursor: pointer;
    line-height: 1.5;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 0;
    display: inline-block;
}

.btn-green {
    background-color: #267df4;
    color: white;
}

.nav-menu {
    width: 15px;
    height: 15px;
    position: relative;
    top: 8px;
    cursor: pointer;
    span {
        height: 2px;
        left: 0;
        right: 0;
        position: absolute;
        background-color: #000;
        border-radius: 1px;
        transition: 0.25s ease-in-out;
        &:nth-child(1) {
            top: 2px;
        }
        &:nth-child(2) {
            top: 7px;
        }
        &:nth-child(3) {
            bottom: 1px;
        }
    }
}

a {
    text-decoration: none;
}

.menu {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    gap: 30px;
}

.menu, .contacts {
    li {
        padding: 9px 0;

        .btn {
            color: white;
            &:hover {
                color: white;
            }
        }

        a {
            color: #26272d;

            &:hover {
                color: #267df4;
            }
        }
    }
}

.contacts {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-items: end;
    align-items: center;
    gap: 30px;
}


.banner {
    padding-top: 210px;
    background-image: url(images/banner_background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: fit-content;

    .banner-title {
        font-family: 'Varela Round', sans-serif;
        font-size: 62px;
        color: rgb(38, 39, 45);
    }

    .banner-par {
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        color: rgb(140, 143, 148);
        text-align: center;
        max-width: 830px;
        line-height: 1.5;
    }

    .banner-btn {
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        color:rgb(38, 39, 45);
        padding-left: 40px;
        padding-right: 40px;
        max-width: 200px;

        i {
            margin-right: 15px;
        }
    }

    .banner-phone-img {
        height: 450px;
        overflow: hidden;
    }
}

.features {
    padding-top: 50px;

    .container {
        padding-bottom: 50px;
        border-bottom: 1px solid grey;
    }

    .lock, .clock {
        padding: 30px;
    }

    .f-icon {
        margin-bottom: 48px;

        i {
            font-size: 42px;
            color: #267df4;
        }
    }

    .f-description {
        font-family: 'Lato', sans-serif;

        h3 {
            font-size: 26px;
            margin-bottom: 30px;
            color: rgb(38, 39, 45);
        }

        p {
            font-size: 18px;
            color: rgb(140, 143, 148);
            line-height: 28px;
        }
    }
}

.iphone-feature {
    padding-top: 240px;
    position: relative;

    img {
        position: absolute;
        right: 50%;
        top: 50px;
    }

    .device-feature {

        h2 {
            font-family: 'Varela Round', sans-serif;
            font-size: 42px;
            line-height: 42px;
            color:rgb(38, 39, 45);
            margin-bottom: 80px;
        }

        p {
            font-family: 'Lato', sans-serif;
            font-size: 20px;
            line-height: 28px;
            color: rgb(140, 143, 148);
            margin-bottom: 80px;
        }
        
        .btn-wrapper {
            display: grid;
            grid-template-columns: 200px 140px;
            grid-template-rows: 1fr;
            gap: 20px;

            i {
                margin-left: 50px;
            }

            .btn-bg {
                background-color: transparent;
            }
        }
    }
}

.map-feature {
    margin-top: 300px;
    margin-bottom: 150px;

    .map {
        img {
            width: 100%;
        }
    }

    .map-feature-text {

        .map-title {
            font-family: 'Varela Round', sans-serif;
            font-size: 42px;
            color: rgb(38, 39, 45);
            margin-bottom: 60px;
        }

        .map-par {
            font-family: 'Lato', sans-serif;
            font-size: 20px;
            line-height: 1.5;
            color: rgb(140, 143, 148);
            margin-bottom: 60px;
        }

        .partners {
            font-family: 'Lato', sans-serif;
            font-size: 12px;
            font-weight: 700;
            color:rgb(38, 39, 45);
            margin-bottom: 25px;
        }
    }

    .boxes-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 1fr;

        img {
            cursor: pointer;
        }
    }
}

.iphone-screens {
    padding: 140px 0 800px;
    background-color: #f4f4f5;
    visibility: visible;
    overflow: hidden;
    text-align: center;


    .images-showcase {
        .screens-container {
            position: relative;
            margin-bottom: 10px;
        
            
            li {
                width: 320px;
                height: 568px;
                position: absolute;
                top: 92px;
                box-shadow:  10px 10px 16px 0 rgba(61, 61, 62, 0.15);
        
                &:nth-child(1) {
                    left: 50%;
                    margin-left: -880px;
                }
        
                &:nth-child(2) {
                    left: 50%;
                    margin-left: -530px;
                }
        
                &.main-img {
                    width: 395px;
                    top: 0;
                    left: 50%;
                    margin-left: -193px;
                    box-shadow: none;
                    height: 779px;
                }
        
                &:nth-child(4) {
                    right: 50%;
                    margin-right: -530px;
                }
        
                &:nth-child(5) {
                    right: 50%;
                    margin-right: -880px;
                }
            }
        }
    }

    .screens-title {
        font-family: 'Varela Round', sans-serif;
        font-size: 42px;
        color:rgb(38, 39, 45);
        margin-bottom: 25px;
    }

    .span {
        height: 2px;
        background-color: #267df4;
        width: 50px;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    .screens-par {
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        font-weight: 700;
        color: rgb(140, 143, 148);
        margin-bottom: 25px;
    }
}

.ready-to-buy {
    background-color: #f4f4f5;
    padding: 120px 0 130px;
}


.banner-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto);
    justify-items: center;
    gap: 60px;
}

.feature-wrapper {
    display: grid;
    grid-template-columns: 570px 570px;
    grid-template-rows: 1fr;
    gap: 30px;
}

.iphone-f-wrapper {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 1fr;
    justify-content: space-between;
}

.map-wrapper {
    display: grid;
    grid-template-columns: 35% 80%;
    grid-template-rows: 1fr;
    gap: 60px;
}

.sub-wrapper {
    text-align: center;

    .subtitle {
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        color:rgb(58, 61, 75);
        margin-bottom: 40px;
    }

    .sub-title {
        font-family: 'Varela Round', sans-serif;
        font-size: 42px;
        color:rgb(58, 61, 75);
        margin-bottom: 40px;
    }

    .email-bar {
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        margin: 0 auto;
        margin-bottom: 70px;
        border: 1px solid rgba(38, 39, 45, 0.5);
        border-radius: 30px;
        max-width: 100%;
        width: 500px;
        height: 50px;
        position: relative;

        input {
            background-color: transparent;
            border: none;
            position: absolute;
            left: 20px;
            height: 100%;
            width: 300px;

            &::placeholder {
                color:rgb(38, 39, 45);
            }
        }

        button {
            width: 160px;
            position: absolute;
            right: 2px;
            top: 2px;

            i {
                margin-left: 20px;
            }
        }
    }
}

.plan {
    padding: 160px 0 190px;
    background-color: #f4f4f5;

    .plan-wrapper {
        display: grid;
        grid-template-columns: 2fr 4fr;
        grid-template-rows: 1fr;
        gap: 130px;
        align-items: center;

        .plan-info {

            .plan-title {
                font-family: 'Varela Round', sans-serif;
                font-size: 42px;
                color:rgb(38, 39, 45);
                margin-bottom: 70px;
            }

            .subtitle {
                font-family: 'Lato', sans-serif;
                font-size: 12px;
                font-weight: 700;
                color: rgb(38, 39, 45);
                margin-bottom: 20px;
            }

            .toggle-container {
                margin-bottom: 70px;
                
                .switch-toggles {
                    display: flex;
                    width: 262px;
                    height: 50px;
                    color: #8c8f94;
                    border: 1px solid rgba(38, 39, 45, 0.2);
                    border-radius: 30px;
                    font-family: 'Lato', sans-serif;

                    .indiv, .company {
                        width: 130px;
                        padding: 13px 10px;
                        text-align: center;
                        cursor: pointer;
                        font-size: 16px;
                        margin: 3px;
                        transition: 0.7s ease-in;


                        &.active {
                            border-radius: 30px;
                            color: #26272d;
                        }
                    }
                }
            }

            .plan-par {
                font-family: 'Lato', sans-serif;
                font-size: 20px;
                color:rgb(140, 143, 148);
                margin-bottom: 40px;
                line-height: 1.5;
            }

            .info {
                font-family: 'Lato', sans-serif;
                font-size: 14px;
                color: rgb(140, 143, 148);

                a {
                    text-decoration: underline;
                    color: rgb(38, 125, 244);
                }
            }
        }

        .plan-package {
            display: flex;
            align-items: center;
            text-align: center;
            height: 550px;

            .price-table {
                font-family: 'Lato', sans-serif;
                width: 100%;
                height: 510px;
                padding: 60px 0;
                margin: 10px 0;
                border-radius: 10px;
                background-color: rgb(235, 235, 237);
                position: relative;

                .price-title {
                    font-size: 32px;
                    color:rgb(38, 39, 45);
                    margin-bottom: 30px;
                }

                .price-mark {
                    border: 1px solid rgba(38, 39, 45, 0.2);
                    border-radius: 30px;
                    margin: 0 auto;
                    margin-bottom: 40px;
                    width: fit-content;

                    .price-val {
                        padding: 9px 15px;
                        font-size: 11px;
                        font-weight: 700;
                        color: rgb(38, 39, 45);
                    }
                }

                .price-text {
                    font-size: 20px;
                    color: rgb(140, 143, 148);
                    margin-bottom: 50px;
                }

                .price-feature {
                    font-size: 20px;
                    color: rgb(38, 39, 45);
                    margin-bottom: 25px;

                    i {
                        color: rgb(111, 199, 84);
                        margin-right: 5px;
                    }
                }

                .btn {
                    width: 210px;
                    position: absolute;
                    bottom: 45px;
                    left: calc(50% - 105px);
                }

                .btn-green {
                    background-color: transparent;
                    border-color: #267df4;
                    color:rgb(38, 125, 244);
                }
            }

            .highlighted {
                background-color: white;
                margin: 0;
                height: 550px;
                box-shadow:rgba(0, 0, 0, 0.15);

                .price-title {
                    margin-top: 20px;
                }

                .btn-green {
                    background-color: #267df4;
                    color: white;
                    bottom: 65px;
                }
            }
        }
    }
}